In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("test.csv")
dft = pd.read_csv("train.csv")
df = pd.get_dummies(df, columns=["condition"])
dft = pd.get_dummies(dft, columns=["condition"])
dft=dft.drop(columns = "condition_interruption")
dft=dft.drop(columns = "condition_time pressure")
df=df.drop(columns = "condition_interruption")
df=df.drop(columns = "condition_time pressure")
#dft=dft.loc["HR","MEDIAN_RR"]
df=df.loc[:,['HR','MEDIAN_RR','LF','MEDIAN_REL_RR','sampen','pNN50','condition_no stress']]
dft=dft.loc[:,['HR','MEDIAN_RR','LF','MEDIAN_REL_RR','sampen','pNN50','condition_no stress']]
#df=df.loc["HR","MEDIAN_RR","LF","MEDIAN_REL_RR","sampen","pNN50","condition_no stress"]
df.head(10)

,HR,MEDIAN_RR,LF,MEDIAN_REL_RR,sampen,pNN50,condition_no stress
0,84.121868,727.267280,615.914573,-0.000951,2.097342,0.000000,1
1,71.478642,844.407930,1566.866135,-0.001543,2.217275,0.200000,0
2,63.874293,966.671125,2074.868884,-0.002000,2.217136,1.800000,1
3,74.330531,842.485905,505.886664,0.000445,2.106863,0.533333,1
4,82.092049,747.941620,524.203971,-0.000170,1.912191,0.666667,0
5,72.562697,836.596795,586.603990,0.000707,2.177956,0.266667,0
6,72.816960,834.290000,946.326297,-0.000266,2.186655,0.000000,0
7,83.951285,717.521215,349.917630,0.000067,2.195558,0.133333,1
8,60.537570,998.858135,1715.733715,-0.001118,2.197198,1.933333,0
9,81.125490,760.687035,1010.403599,-0.001320,2.071096,0.600000,1

In [12]:
from sklearn import datasets
import numpy as np
"""Utility function to split the dataset"""

iris = datasets.load_iris()    
x = iris.data
y = iris.target

In [16]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [17]:
    x = x/x.max()
    y = y/y.max()
    y = np.reshape(y, (-1,1))

In [21]:
y[21]

array([0.])